<p class="col-md-6 col-lg-4 mb-5">Please log in to leave comments</p>
<div class="card col-md-6 col-lg-4 mb-5">
    <div class="card-header">
        <h5 class="card-title float-left">{{post.title}}</h5>
        <h8 class="card-subtitle mb-2 float-right">Posted by {{post.user.username}} on {{formatDate post.created_at}}</h6>
    </div>  
    <div class="card-body">  
        <p class="card-text">{{post.content}}</p>
    </div>
    <div class="card-body comment">
            {{ commentcard post.comments}}
    </div>
</div> 

<input type="hidden" name="post-id" value="{{post.id}}"/>

{{#if loggedIn}}
<div class="card">
    <div class="card-header"></div>
    <form class="card-body comment-form">
        <p class="form-label">Leave Comment:</p>
        <textarea class="form-input" id="comment" name="comment-body"></textarea>    
        <button type="submit" class="btn btn-primary">Submit Comment</button>        
    </form>               
</div>
{{/if}}
<div class="card">
    <h2 class="card-header">Edit Your Post</h2>
    <form class="card-body edit-form">

      <div class="form-group">
        <label class="form-label">Title:</label>
        <input type="text" class="form-input" name="post-title" value="{{post.title}}"/>
      </div>

      <div class="form-group">
        <label class="form-label">Content:</label>
        <textarea class="form-textarea form-input" name="post-content">{{post.content}}</textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil"></i>Edit Post</button>
      </div>

    </form>
   
</div>
<div class="card">
    <h2 class="card-header">Add New Post</h2>

    <form class="card-body" id="newpost-form">

      <div class="mb-6">
        <label class="form-label">Title:</label>
        <input type="text" class="form-input" name="post-title"/>
      </div>

      <div class="mb-6">
        <label class="form-label">Content:</label>
        <textarea class="form-textarea form-input" name="post-content"></textarea>
      </div>

      <div class="mb-6">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
</div>
{{#if posts.length}}
<section>
    <div class="row align-items-center">
        <h2>Hello, {{username}}!</h2>
        <p>Please click on the post title to edit it!</p>
    </div>
    <br>
    {{#each posts as |post|}}
    <input type="hidden" name="post-id" value="{{post.id}}"/>
        <div class="card">
            <div class="card-header">
                <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
            </div>  
            <button class="btn btn-danger" id="del-post-btn"><i class="bi bi-trash"></i>Delete Post</button>                          
        </div>
    {{/each}}
    
</section>
{{/if}}
<button type="submit" class="btn"><a href="/dashboard/new"><i class="bi bi-plus-square"></i>Add New Post</a></button>


<script src="/js/profile.js"></script>
<script src="/js/edit.js"></script>


<script src="/js/comment.js"></script>